.container{
    align-items: center;
    height: auto;
    padding-bottom: 30px;
    
.buttonb{
    align-items: center;
    
}
.Details{
    padding-bottom: 30px;
    font-size: 35px;
    font-family:Arial;
    font-weight: bold;
   color: #140149;
}